// Code starts at 320px mobile view
@font-face {
    font-family: 'THICCBOI-ExtraBold';
    src: url('../../utils/fonts/thiccboi/THICCCBOI-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'THICCBOI-SemiBold';
    src: url('../../utils/fonts/thiccboi/THICCCBOI-SemiBold.ttf') format('truetype');
}

.home-main-container {
        .outer-layer{
            padding: 0.99rem 0.63rem;
            margin: 1.13rem 0.44rem 0 0.44rem;
            
            min-width: 19.125rem;
            
            border-radius: 2.75rem;
            background: rgba(239, 243, 243, 0.7);
            position: relative;
            box-sizing: border-box;
            overflow-x: wrap;


            .welcome-section{
                min-width: 17.875rem;
                height: auto;
                display: flex;
                flex-direction: column;
                border-radius: 2.75rem;
                background: #FFF;
                position: relative;
                overflow: hidden;

                .call-to-action{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    text-align: center;
                    margin-top: 2rem;
                    height: 100%;
                    width: 100%;


                    .welcome-container{
                        width: 100%;
                        height: 13.97875rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h1{
                            font-family: 'THICCBOI-ExtraBold';
                            font-size: 4rem;                            
                            font-weight: 800;
                            margin: 0;
                        }

                        p{
                            margin-top: 1.73rem;
                            text-align: center;
                            font-family: 'THICCBOI-SemiBold';
                            font-weight: 600;
                            font-size: 1.8rem;
                        }
                    }

                    .image-wrapper{
                        width: 100%;
                        height: 100%;
                        margin: -2rem auto;
                        .call-to-action-img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                }
            }

            .main-section{
                min-width: 17.875rem;
                height: auto;
                display: flex;
                flex-direction: column;
                border-radius: 2.75rem;
                background: #FFF;
                position: relative;
                overflow: hidden;
                margin-top: 1.69rem;
                text-align: center;
                h2 {font-size: 3.5rem;font-weight: 700;color: #2ACDE4;}
                h3{font-size: 2.6rem;}
                p {font-size: 1.6rem;text-align: center;}
                
                .features{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .features-container{
                        h2{
                            margin-top: 2.75rem;
                        }

                        p{
                            margin: 1.73rem 0.88rem 0 0.94rem;
                        }

                        .dots-img{display: none;}
                    }
    
                    .education-container{
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .image-wrapper{
                            width: 95%;
                            margin: 3rem auto 0;

                            .elearning-img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
    
                        }
                        .information{
                            h3{
                                font-weight: 800;
                                margin: 2.52rem 0.75rem 0 0.94rem
                            }
                            p{
                                margin-top: 2rem;
                                margin-left: 4rem;
                            }
                        }

                    }

                    .marketplace-container{
                        display: flex;
                        flex-direction: column;
                        h3{
                            margin: 2.52rem 0.75rem 0 0.94rem
                        }
                            
                        p{
                            margin-top: 2rem;
                            margin-left: auto;
                            margin-right: auto;
                            width: 90%;
                        }
        
                        .image-wrapper{
                            width: 95%;
                            margin: 3rem -2rem 0;
                            .marketplace-img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                position: relative;
                            }
                        }
                    }

                    .project-management-container{
                        h3{margin-top: 3rem;}
        
                        .image-wrapper{
                            width: 80%;
                            margin: 2rem auto 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .project-management-img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
        
                        p{
                            width: 90%;
                            margin: 4rem auto 0;
                        }

                    }
                
                }

                .objectives{
                    .image-wrapper{
                        width: 90%;
                        margin: 2rem auto 0;
                        .privacy-img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .image-wrapper:first-child{width: 70%;}
                    p{width: 90%;margin-left: auto;margin-right: auto;}
                }

                .products{
                    .products-container{
                        .image-wrapper{
                            width: 100%;
                            margin: 1rem auto 0;
                            .man-holding-phone-with-logo-img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        p{
                            width: 90%;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .sign-up-btn{

                            font-size: 2.1rem;
                            font-style: normal;
                            font-weight: 700;
                            width: 14.5rem;
                            height: 4.21231rem;
                            border: none;
                            border-radius: 3.875rem;
                            color: white;

                            background: #06E95C;
                            padding: 0.73rem 0.8rem 0.67rem 1.01rem;
                            margin-top: 2rem;
                        }
                    }
                }

                .about-us{
                    margin-top: 6rem;
                    .about-us-btns{
                        
                            margin: 4rem 0 auto;
                            font-size: 9vw;
                            min-width: 16.8125rem;
                            max-width: 24.75rem;
                        }

                        .btns-containers{
                            display: flex;
                            flex-direction: column;
                            align-items: center;                        
                            margin: 4rem auto;
                            padding: 0 2rem;
                            .large-btn-group{
                                color: white;
                                font-size: 2.7rem;
                                font-style: normal;
                                font-weight: 700;

                                min-width: 15.9375rem;
                                max-width: 19rem;
                                min-height: 14.57706rem;
                                max-height: 16rem;

                                margin-bottom: 4.42rem;

                                border-radius: 3.125rem;
                                background: #6CFCEE;
                                box-shadow: 12px 17px 11px 0px rgba(0, 0, 0, 0.25), 24px 4px 30px 0px rgba(0, 0, 0, 0.25) inset;
                            }
                        }
                        
                        .about-us-img-wrapper{
                                width: auto;
                                height: 100%;
                                display: flex;
                                margin: -6rem auto 0;

                            .about-us-img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }   
                }
            }

            .dots-wrapper{
                display: none;
            }







        //TABLET/PC VIEW
        @media(min-width: 768px){
            .welcome-section{
                height: auto;
                .call-to-action{
                    width: auto;
                    flex-direction: row-reverse;
                    padding-left: 5%;
                    padding-right: 5%;
                    .welcome-container{
                        width: 100%;
                        height: auto;
                        flex-direction: column;
                        margin: -8rem 0 0 0;
                        align-items: unset;
                        h1{text-align: right;font-size: 4.2rem;}
                        p{text-align: right;font-size: 1.5rem;}
                    }
                    .image-wrapper {
                        width: 60%;
                        height: auto;
                        .call-to-action-img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            .main-section{
                h2{font-size: 5rem;}
                p{font-size: 2rem;}
                .features {
                    .features-container{
                        p{width: 80%;margin: 0 auto;}
                        .dots-wrapper {
                            width: 21vw;
                            .dots-img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                display: block;
                                margin: 2.61rem 0 0 1.68rem;
                            }
                        }
                    }
                    .education-container{
                        flex-direction: row;
                        margin-top: 3rem;

                        .image-wrapper{
                            margin: 0;
                            width: 50%;
                        }

                        .information{
                            margin-left: 2rem;
                        }

                    }

                    .marketplace-container{
                        display: flex;
                        flex-direction: row-reverse;
                        margin-top: 3rem;
                        width: 100%;

                        .image-wrapper{
                            margin: 0;
                            width: 90%;
                            .marketplace-img{margin: 0rem;width: 100%; height: 100%;}
                        }

                        .information{
                            padding-top: 1rem;
                            width: 100%;
                            h3{font-size: 3rem;margin-top: 0rem auto;}
                            p{max-width: unset;width: 80%;font-size: 2rem;margin-top: 2rem;}
                        }
                    }

                    .project-management-container{
                        display: flex;
                        flex-direction: row;
                        margin-top: 3rem;
                        width: 100%;

                        .image-wrapper{
                            margin: 0;
                            width: 90%;
                            padding-left: 1rem;
                            .project-management-img{
                                margin: 0;
                                max-height: unset;
                                max-width: unset;
                                min-height: unset;
                                min-width: unset;
                                width: 100%; 
                                height: 100%;
                            }
                        }

                        .information{
                            padding-top: 1rem;
                            width: 100%;
                            h3{
                                font-size: 3rem;
                                margin-top: 0rem auto;
                            }
                            p{
                                width: 100%;
                                font-size: 2rem;
                                margin-top: 2rem;
                            }
                        }
                    }

                    .education-container .information p, 
                    .marketplace-container .information p, 
                    .project-management-container .information p {font-size: 1.8rem;}

                    .dots-wrapper:first-child{margin-top: 3rem;}
                    .dots-wrapper:nth-child(2){position: relative;right: 35%;}
                }

                .objectives{
                        .privacy-container, .user-safety-container, .data-security-container{
                            display: flex; flex-direction: row;
                            text-align: left;
                        
                            .image-wrapper{
                                width: 55%;
                                padding-left: 2rem;
                                img{
                                    min-width: unset;max-width: unset;min-height: unset;
                                    width: 100%;
                                    height: 100%;
                                    margin: 0;
                                }
                            }
                            .information{
                                width: 45%;
                                margin: 5rem auto;
                                h3{width: 60%;margin: 0 auto;text-align: center;}
                            }
                            
                        }

                            .privacy-container .image-wrapper{padding-top: 3rem;}
                            .user-safety-container .image-wrapper{padding-top: 0;}
                            .data-security-container .image-wrapper{padding-top: 3rem;}

                }

                .products .products-container{
                    .image-wrapper{
                        position: relative;
                        height: 40rem;
                        .man-holding-phone-with-logo-img{
                            width: 100%;
                            height: 100%;
                            max-width: unset;
                            max-height: unset;
                            margin: 0 auto;
                        }

                        
                    }

                    p{
                        width: 90%;
                    }

                    .sign-up-btn{
                        width: 60%;
                        height: 5rem;
                        margin-top: 0;
                        box-shadow: 1rem .8rem 1rem rgba(0, 0, 0, 0.651);
                        font-size: 3rem;
                        /*
                            X offset: The horizontal offset of the shadow relative to the element.
                            Y offset: The vertical offset of the shadow relative to the element.
                            Blur radius: The amount of blur applied to the shadow.
                            Spread radius: The amount of spread applied to the shadow.
                            Color: The color of the shadow.
                        */
                    }

                }

                .about-us{ 
                    .about-us-btns{
                        min-width: unset;
                        max-width: unset;
                        .btns-containers{
                            .large-btn-group{min-width: 20rem;min-height: 20rem;font-size: 3.2rem;}
                            .large-btn-group:first-child, .large-btn-group:last-child{margin-left: -50%;}
                            .large-btn-group:nth-child(2){margin-left: 50%;}
                        }
                    }
                    .about-us-img-wrapper{
                        justify-content: center;
                        .about-us-img{width: 50%;}
                    }
                }

                .dots-wrapper{display: block;}
                
            }

        }
        

        @media(min-width: 1200px){
            .welcome-section .call-to-action{
                padding-left: 5%;
                padding-right: 5%;
            }

            .main-section {
                .education-container .project-management-container{justify-content: center;width: 90%;}
                
                .objectives{ 
                    .privacy-container .image-wrapper, 
                    .user-safety-container .image-wrapper, 
                    .data-security-container .image-wrapper{width: 40%;}
                }

                .about-us .about-us-btns p{width: 80%;margin: 0 auto;}
            }

        }
        @media(min-width: 1920px){
            .welcome-section .call-to-action{
                padding-left: 8%;
                padding-right: 8%;
                    
                .welcome-container{
                    h1{font-size: 8rem;}
                    p{font-size: 5rem;}
                }
            }

            .main-section {
                .features {
              

                    .features-container p{margin-top: -5rem;}
                    .project-management-container, .education-container{
                        justify-content: unset;width: 100%;
                    }

                    .education-container, .marketplace-container, .project-management-container{
                        p{font-size: 3rem !important;}
                    }

                }

                .features, .objectives, .products{ 
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;

                    h2{font-size: 8rem;}
                    h3{font-size: 4rem;}
                }

                .objectives {
                    .privacy-container .information h3, .user-safety-container .information h3, .data-security-container .information h3{font-size: 5rem;width: 100%;}
                    .privacy-container .information p, .user-safety-container .information p, .data-security-container .information p{font-size: 2.5rem;}
                }

                .products-container{
                    p{font-size: 3rem;}
                    .sign-up-btn{width: 50%;height: 13rem;}
                }
            
                .about-us .about-us-btns {
                    p{width: 80%;margin: 0 auto;font-size: 3rem;}
                }


            }

        }
    }

}
