.privacy-main-container {
    font-family: 'THICCCBOI';




    .outer-layer {
        padding: 0.99rem 0.63rem;
        margin: 1rem 1rem 4rem 1rem;

        min-width: 18rem;


        border-radius: 2.75rem;
        background: rgba(239, 243, 243, 0.7);
        position: relative;
        box-sizing: border-box;
        overflow-x: wrap;



        .privacy-container {
            min-width: 16.5rem;
            height: auto;
            border-radius: 2rem;
            background: #FFF;
            position: relative;
            text-align: center;
            overflow: hidden;
            margin-bottom: 2rem;

            .header {
                margin: 1.84rem 1.25rem 0;
                min-width: 15.375rem;
                display: flex;
                align-items: center;
            }





            h1 {
                font: THICCBOI-ExtraBold;
                font-size: 2.5rem;
            }



        }

        .second-main-container {
            min-width: 16.5rem;
            height: auto;
            border-radius: 2rem;
            background: #FFF;
            position: relative;
            text-align: center;
            padding-top: 0.5rem;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            overflow-wrap: break-word;
            font-size: 1.1rem;

            .bold {
                font-weight: 800;
            }

            .less-bold {
                font-weight: 600;
            }



            .mini-container {

                padding-bottom: 5rem;

                p {
                    font-family: THICCBOI, Inter;
                    font-weight: 400;
                    text-align: left;


                    span {
                        font-weight: 800;

                    }

                }

            }

            ol {
                padding-right: 5px;

                text-align: left;

                li {
                    font-weight: 800;

                }
            }

            ul {
                li {
                    font-weight: 500;
                    list-style: disc;

                }
            }

            .bigger {
                font-size: 1.5rem;
            }





        }
    }

    @media (min-width: 768px) {
        .outer-layer .second-main-container .mini-container {
            padding-left: 6rem;
            padding-right: 6rem;
        }

    }

    @media(min-width: 1440px) {
        .outer-layer {
            margin: 0 auto;
            width: 50vw;

        }
    }

    @media (min-width: 2560px) {
        .outer-layer {

            .privacy-container {


                h1 {
                    font-size: 4rem;






                }
            }

            .second-main-container {

                font-size: 2rem;

                .mini-container {
                    padding-left: 10rem;
                    padding-right: 10rem;
                    padding-bottom: 15rem;

                    .bigger {
                        font-size: 2.5rem;
                    }
                }
            }

        }
    }
}