// code starts at 320px
@font-face {
    font-family: 'THICCBOI-ExtraBold';
    src: url('../../utils/fonts/thiccboi/THICCCBOI-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'THICCBOI-SemiBold';
    src: url('../../utils/fonts/thiccboi/THICCCBOI-SemiBold.ttf') format('truetype');
}

.objectives-main-container {
        font-family: 'THICCCBOI';
        position: relative;

        .outer-layer{
            padding: 0.99rem 0.63rem;
            margin: 1.31rem 0.44rem 0 0.44rem;
            
            min-width: 19.125rem;
            // max-width: 101.9375rem;
            
            border-radius: 2.75rem;
            background: rgba(239, 243, 243, 0.7);
            position: relative;
            box-sizing: border-box;
            overflow-x: wrap;
            
            .objectives-first-container{
                .objectives-section{
                    min-width: 17.875rem;
                    max-width: 99.125rem;
                    height: 26.625rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;
                    overflow: visible;

                    .objectives-header{
                        display: flex;
                        position: relative;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        align-items: center;
                        justify-content: center;
                        margin: 0 0.19rem 0 0.19rem;

                        h1{
                            font-family: 'THICCCBOI';
                            font-size: 3.3125rem;
                        }

                    }

                    .objectives-content {
                        display: flex;
                        min-width: 17.12144rem;
                        min-height: 18.11694rem;
                        align-items: center;  /* Vertically center the content */
                        justify-content: center;  /* Horizontally center the content */
                        margin-left: 0.43rem;
                        margin-right: 0.38rem;
                        margin-top: 4.5rem;
                    
                    
                    .cybersecurity-img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }
                    
                    @media (min-width: 425px){
                        
                            // border: solid black 2px;
                            min-width: 22.49556rem;
                            min-height: 23.295rem;
                        .cybersecurity-img{
                           height: 100%;
                           width: 100%;
                        }
                    }
                    

                    }

                    @media (min-width: 425px){
                        height: 34.696rem;
                    }
                    @media (min-width: 768px){
                        height: 27.9375rem;
                    }
                }
            
                }
            .objectives-second-container{
                margin-top: 2.25rem;

                .objectives-info-section{
                    min-width: 17.9375rem;
                    flex-shrink: 0;
                    min-height: 303.5rem;                
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;
                    overflow: hidden;

                    


                    .usersafety-header{
                        margin: 9.5rem 1.31rem 0 1.31rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        h2{
                                min-width: 20.5625rem;
                                min-height: 8.875rem;
                                display: flex;
                                color: #52CAC8;
                                font-family: Inter;
                                font-size: 3.6875rem;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            } 
                    }
                    @media (min-width: 960px){
                        .usersafety-header{
                            margin: 35rem 1.31rem 0 1.31rem !important;
                            }
                    }   
                    .privacy-header{
                        margin: 0 0.62rem 0 0.69rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        h2{
                            color: #52CAC8;
                            font-family: Inter;
                            font-size: 3.75rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        @media (min-width: 425px){
                            margin: 0 3.75rem 0 3.75rem
                        }
                    }
                    .datasecurity-header{
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        h2{
                            color: #52CAC8;
                            font-family: 'Inter';
                            font-size: 3rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .usersafety-content{
                        p{
                            color: #000;
                            text-align: center;
                            font-family: Inter;
                            font-size: 2.1875rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-right: 0.19rem;
                            margin-left: 0.62rem;
                        }
                    }
                    .usersafety-img-container{
                        min-width: 18.05069rem;
                        min-height: 9.53206rem;
                        .safety-img{
                            // margin: 0 1.64rem 0 2.62rem;                    
                            object-fit: contain;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .privacy-content{
                        text-align: center;
                        p{
                            color: #000;
                            font-family: Inter;
                            font-size: 2.5rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin: 0 1rem 0 1rem;
                        }
                    }
                    .privacy-img-container{
                        min-width: 17.125rem;
                        min-height: 17.38694rem;
                        .privacy-img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .datasecurity-content{
                        margin-right: 0.25rem;
                        margin-left: 0.44rem;
                        text-align: center;

                        p{
                            color: #000;
                            font-family: Inter;
                            font-size: 2.1875rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            min-width: 17.75rem;
                            min-height: 19.25rem;
                        }
                    }
                    .datasecurity-img-container{
                        min-width: 15.54138rem;
                        min-height: 14.22156rem;
                        .datasecurity-img{
                            height: 100%;
                            width: 100%;    
                            object-fit: contain;
                        }
                    }
            
                }
            }
    }
    @media (min-width: 768px){
        .outer-layer{
            .objectives-first-container{
                .objectives-section{
                    min-width: 44.5rem;
                    height: 27.9375rem;
                    max-width: 99.125rem;
                    height: 26.625rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;
                    overflow: visible;

                    .objectives-header{
                        display: flex;
                        position: relative;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        align-items: center;
                        justify-content: center;
                        margin: -1rem 1.75rem 0 1.75rem;

                        h1{
                            font-family: 'THICCCBOI';
                        }
                    }    
                    .objectives-content {
                        display: flex;
                        min-width: 42.51844rem;
                        min-height: 44.99056rem;
                        margin-left: 1rem;
                        align-items: center;  /* Vertically center the content */
                        justify-content: center;  /* Horizontally center the content */
                        margin-right: 0.38rem;                    
                    
                        .cybersecurity-img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                        }
                    }
                }
            }   
            .objectives-second-container{
                margin-top: 2.25rem;

                .objectives-info-section{
                    min-width: 44.5rem;
                    min-height: 481.375rem;                
                    border-radius: 2.75rem;
                    background: #FFF;
                    position: relative;
                    overflow: hidden;


                    .usersafety-header{
                        margin: 30rem 1.31rem 0 1.31rem;
                        h2{
                                min-width: 20.5625rem;
                                min-height: 8.875rem;
                                display: flex;
                                color: #52CAC8;
                                font-family: Inter;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                    }
                    .privacy-header{
                        margin: 0 8.06rem 0 8.06rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        h2{
                            color: #52CAC8;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .datasecurity-header{
                        display: flex;
                        text-align: center;

                        h2{
                            color: #52CAC8;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .usersafety-content{
                        p{
                            color: #000;
                            text-align: center;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-right: 0.19rem;
                            margin-left: 0.62rem;
                        }
                    }
                    .usersafety-img-container{
                        min-width: 38.21656rem;
                        min-height: 20.18113rem;
                        .safety-img{
                            // margin: 0 1.64rem 0 2.62rem;                    
                            object-fit: contain;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .privacy-content{
                        text-align: center;
                        p{
                            color: #000;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin: 0 1rem 0 1rem;
                        }
                    }
                    .privacy-img-container{
                        min-width: 40.01575rem;
                        min-height: 30.25rem;
                        .privacy-img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .datasecurity-content{
                        margin-right: 0.25rem;
                        margin-left: 0.44rem;
                        text-align: center;

                        p{
                            color: #000;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            min-width: 17.75rem;
                            min-height: 19.25rem;
                        }
                    }
                    .datasecurity-img-container{
                        min-width: 34.47956rem;
                        min-height: 26.78594rem;
                        .datasecurity-img{
                            height: 100%;
                            width: 100%;    
                            object-fit: contain;
                        }
                    }
            
                }
            }
        }
    }
   
    @media (min-width: 1200px){
        .outer-layer{
            .objectives-first-container{
                .objectives-section{
                    height: 58.9375rem;

                    .objectives-content{
                        display: flex;
                        min-width: 61rem;
                        min-height: 64rem;
                        margin-left: 1rem;
                        align-items: center;  /* Vertically center the content */
                        justify-content: center;  /* Horizontally center the content */
                        margin-right: 0.38rem;
                        margin-top: 6.23rem;
                    
                    
                        .cybersecurity-img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                        }
                    }
                    }
                }
                .objectives-second-container{
                    .objectives-info-section{
                        .privacy-header{
                            margin: 0 26.31rem 0 31.31rem;
                            display: flex;
                            text-align: center;
                            align-items: center;
                            justify-content: center;

                            h1{
                                min-width: 41.5rem;
                                min-height: 11.375rem;
                            }
                        }
                        .datasecurity-header{
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            margin: 0 12.69rem 0 11.56rem;
                            white-space: nowrap;

                          
                        }
                    }
                }
                
            }
    }

    @media (min-width: 1440px){
        
    }
    
    
    @media (min-width: 2560px){
        .outer-layer{
            width: auto;
            .objectives-first-container{
                align-items: center;
                justify-content: center;
                display: flex;
                .objectives-section{
                    max-width: 50vw;
                    position: relative;

                    .objectives-header{
                        display: flex;
                        position: relative;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        align-items: center;
                        justify-content: center;
                        margin: 0 0.19rem 0 0.19rem;
                        border: solid black 2px;

                    }
                }
            }
            .objectives-second-container{
                align-items: center;
                justify-content: center;
                display: flex;
                
                .objectives-info-section{
                    max-width: 50vw;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .usersafety-header{
                        margin: 0 1.31rem 0 1.31rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        h2{
                                min-width: 20.5625rem;
                                min-height: 8.875rem;
                                display: flex;
                                color: #52CAC8;
                                font-family: Inter;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                    }
                    .privacy-header{
                        margin: 0 8.06rem 0 8.06rem;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        h2{
                            color: #52CAC8;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .datasecurity-header{
                        display: flex;
                        text-align: center;

                        h2{
                            color: #52CAC8;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .usersafety-content{
                        p{
                            color: #000;
                            text-align: center;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-right: 0.19rem;
                            margin-left: 0.62rem;
                        }
                    }
                    .usersafety-img-container{
                        min-width: 38.21656rem;
                        min-height: 20.18113rem;
                        .safety-img{
                            // margin: 0 1.64rem 0 2.62rem;                    
                            object-fit: contain;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .privacy-content{
                        text-align: center;
                        p{
                            color: #000;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin: 0 1rem 0 1rem;
                        }
                    }
                    .privacy-img-container{
                        min-width: 40.01575rem;
                        min-height: 30.25rem;
                        .privacy-img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .datasecurity-content{
                        margin-right: 0.25rem;
                        margin-left: 0.44rem;
                        text-align: center;

                        p{
                            color: #000;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            min-width: 17.75rem;
                            min-height: 19.25rem;
                        }
                    }
                    .datasecurity-img-container{
                        min-width: 34.47956rem;
                        min-height: 26.78594rem;
                        .datasecurity-img{
                            height: 100%;
                            width: 100%;    
                            object-fit: contain;
                        }
                    }
                    
                }
            }
        }
    }
}
    
