.objectives-main-container {
  background-color: #46DDE6;
  display: flex;
  flex-direction: column;
  height: 379.8125rem;
  font-family: "THICCCBOI";
  margin-left: 0.44rem;
}
.objectives-main-container .objectives-first-container .outer-layer {
  padding: 0.99rem 0.63rem;
  margin: 1.31rem 0.44rem 0 0.44rem;
  min-width: 19.125rem;
  min-height: 26.625rem;
  border-radius: 2.75rem;
  background: rgba(239, 243, 243, 0.7);
  position: relative;
  box-sizing: border-box;
  overflow-x: wrap;
}
.objectives-main-container .objectives-first-container .outer-layer .inner-layer {
  min-width: 17.9375rem;
  max-height: 100%;
  border-radius: 2.75rem;
  background: #FFF;
  position: relative;
}
.objectives-main-container .objectives-first-container .outer-layer .inner-layer .navbar {
  display: flex;
  min-width: 16.375rem;
  min-height: 2.0625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 1.94rem 0 1.69rem;
}
.objectives-main-container .objectives-first-container .outer-layer .inner-layer .navbar .uptech-logo {
  min-width: 9.0345rem;
  min-height: 2.0625rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.objectives-main-container .objectives-first-container .outer-layer .inner-layer .navbar .menu-dropdown {
  min-width: 2.25863rem;
  min-height: 1.1rem;
  flex-shrink: 0;
}
.objectives-main-container .objectives-first-container .outer-layer .inner-layer .objectives-header {
  display: flex;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.objectives-main-container .objectives-first-container .outer-layer .inner-layer .objectives-content {
  min-width: 17.12144rem;
  min-height: 18.11694rem;
}
.objectives-main-container .objectives-first-container .outer-layer .inner-layer .objectives-content .cybersecurity-img {
  margin: 1.57rem 0.43rem 0 0.38rem;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.objectives-main-container .objectives-second-container {
  margin-top: 2.25rem;
}
.objectives-main-container .objectives-second-container .outer-layer {
  padding-top: 0.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin: 0.43rem 0.44rem 0 0.44rem;
  min-width: 19.125rem;
  min-height: 338.875rem;
  border-radius: 2.75rem;
  background: rgba(239, 243, 243, 0.7);
  position: relative;
  box-sizing: border-box;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer {
  min-width: 17.9375rem;
  flex-shrink: 0;
  min-height: 303.5rem;
  border-radius: 2.75rem;
  background: #FFF;
  position: relative;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .usersafety-header {
  margin-right: 10.31rem;
  text-align: center;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .usersafety-header h1 {
  min-width: 20.5625rem;
  min-height: 8.875rem;
  display: flex;
  color: #52CAC8;
  font-family: Inter;
  font-size: 3.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .privacy-header {
  margin: 0 0.62rem 0 0.69rem;
  text-align: center;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .privacy-header h1 {
  color: #52CAC8;
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .datasecurity-header h1 {
  color: #52CAC8;
  text-align: center;
  font-family: "Inter";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .usersafety-content p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 0.19rem;
  margin-left: 0.62rem;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .usersafety-img-container {
  min-width: 18.05069rem;
  min-height: 9.53206rem;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .usersafety-img-container .safety-img {
  -o-object-fit: contain;
     object-fit: contain;
  align-items: center;
  width: 100%;
  height: 100%;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .privacy-content p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 1rem 0 1rem;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .privacy-img-container {
  min-width: 17.125rem;
  min-height: 17.38694rem;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .privacy-img-container .privacy-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .datasecurity-content {
  margin-right: 0.38rem;
  margin-left: 1rem;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .datasecurity-content p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-width: 17.75rem;
  min-height: 19.25rem;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .datasecurity-img-container {
  min-width: 15.54138rem;
  min-height: 14.22156rem;
}
.objectives-main-container .objectives-second-container .outer-layer .inner-layer .datasecurity-img-container .datasecurity-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=objectives.css.map */