@font-face {
  font-family: "THICCBOI-ExtraBold";
  src: url("../../utils/fonts/thiccboi/THICCCBOI-ExtraBold.ttf") format("truetype");
}
.contact-main-container .outer-layer {
  padding: 0.99rem 0.63rem;
  margin: 1.13rem 0.44rem 0 0.44rem;
  min-width: 19.125rem;
  border-radius: 2.75rem;
  background: rgba(239, 243, 243, 0.7);
  position: relative;
  box-sizing: border-box;
  overflow-x: wrap;
}
.contact-main-container .outer-layer .top-section {
  min-width: 17.875rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 2.75rem;
  background: #FFF;
  position: relative;
  overflow: hidden;
}
.contact-main-container .outer-layer .top-section .wrapper h1 {
  font-family: "THICCBOI-ExtraBold";
  font-size: 15vw;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
}
.contact-main-container .outer-layer .main-section {
  border-radius: 1.25rem;
  background: #FFF;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-top: 1.44rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-main-container .outer-layer .main-section .contact-information .information {
  display: flex;
  flex-direction: column;
}
.contact-main-container .outer-layer .main-section .contact-information .information .email-contact .email-us, .contact-main-container .outer-layer .main-section .contact-information .information .phone-contact .phone {
  font-family: "THICCBOI-ExtraBold";
  font-size: 8vw;
  font-weight: 800;
  text-decoration: underline;
}
.contact-main-container .outer-layer .main-section .contact-information .information .email-contact .gmail, .contact-main-container .outer-layer .main-section .contact-information .information .phone-contact .phone-number {
  font-size: 5vw;
  margin-top: -1rem;
}
.contact-main-container .outer-layer .main-section .contact-information .information .phone-contact {
  margin-top: -1rem;
}
.contact-main-container .outer-layer .main-section .contact-information .image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}
.contact-main-container .outer-layer .main-section .contact-information .image-wrapper .envelope-img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-main-container .outer-layer .main-section .contact-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
  margin-bottom: 2rem;
}
.contact-main-container .outer-layer .main-section .contact-form .wrapper:not(:last-of-type) {
  display: flex;
  flex-direction: column;
}
.contact-main-container .outer-layer .main-section .contact-form .wrapper:not(:last-of-type) input[type=text] {
  border-radius: 1.25rem;
  border: none;
  background: #B4F1F5;
  height: 1.5rem;
  padding-left: 0.5rem;
  font-family: "THICCBOI";
}
.contact-main-container .outer-layer .main-section .contact-form .wrapper:not(:last-of-type) textarea {
  border-radius: 1.25rem;
  border: none;
  background: #B4F1F5;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: "THICCBOI";
}
.contact-main-container .outer-layer .main-section .contact-form .btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 50%;
  margin-top: 2rem;
}
.contact-main-container .outer-layer .main-section .contact-form .btn-wrapper button {
  border-radius: 1.25rem;
  border: none;
  height: 2rem;
  width: 6.6875rem;
  font-family: "THICCBOI";
}
.contact-main-container .outer-layer .main-section .contact-form .btn-wrapper button:last-of-type {
  color: white;
}
.contact-main-container .outer-layer .main-section .contact-form .btn-wrapper .submit-btn {
  background: #B4F1F5;
}
.contact-main-container .outer-layer .main-section .contact-form .btn-wrapper .reset-btn {
  background: #52CAC8;
}
@media (min-width: 412px) {
  .contact-main-container .outer-layer .main-section .contact-form p {
    font-size: 5vw;
  }
  .contact-main-container .outer-layer .main-section .contact-form .wrapper:not(:last-of-type) {
    font-size: 5vw;
    margin-top: 1rem;
  }
  .contact-main-container .outer-layer .main-section .contact-form .wrapper:not(:last-of-type) input[type=text] {
    height: 2.3rem;
    margin-top: 0.5rem;
    font-size: 4.5vw;
  }
  .contact-main-container .outer-layer .main-section .contact-form .btn-wrapper button {
    font-size: 4vw;
  }
}
@media (min-width: 768px) {
  .contact-main-container .outer-layer .top-section .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .contact-main-container .outer-layer .top-section .wrapper h1 {
    font-size: 5rem;
    right: 5rem;
  }
  .contact-main-container .outer-layer .main-section .contact-information {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .contact-main-container .outer-layer .main-section .contact-information .information {
    width: 50%;
  }
  .contact-main-container .outer-layer .main-section .contact-information .information .email-contact .email-us, .contact-main-container .outer-layer .main-section .contact-information .information .phone-contact .phone {
    font-size: 1.8rem;
  }
  .contact-main-container .outer-layer .main-section .contact-information .information .email-contact .gmail, .contact-main-container .outer-layer .main-section .contact-information .information .phone-contact .phone-number {
    font-size: 1.5rem;
  }
  .contact-main-container .outer-layer .main-section .contact-information .image-wrapper {
    width: 38%;
    height: 100%;
    display: flex;
    margin: 8rem 0 0 3rem;
  }
  .contact-main-container .outer-layer .main-section .contact-information .image-wrapper .envelope-img {
    width: 100%;
    height: 100%;
  }
  .contact-main-container .outer-layer .main-section .contact-form p {
    font-size: 1.3rem;
  }
  .contact-main-container .outer-layer .main-section .contact-form .wrapper label {
    font-size: 1.2rem;
  }
  .contact-main-container .outer-layer .main-section .contact-form .wrapper input {
    font-size: 0.5rem;
  }
  .contact-main-container .outer-layer .main-section .contact-form .wrapper button {
    border-radius: 1rem;
    border: none;
    height: 3rem;
    width: 8rem;
  }
  .contact-main-container .outer-layer .main-section .contact-form .wrapper textarea {
    font-size: 1.2rem;
  }
  .contact-main-container .outer-layer .main-section .contact-form .btn-wrapper {
    gap: 58%;
  }
  .contact-main-container .outer-layer .main-section .contact-form .btn-wrapper button {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .contact-main-container .outer-layer .top-section .wrapper {
    width: 100%;
  }
  .contact-main-container .outer-layer .top-section .wrapper .image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .contact-main-container .outer-layer .top-section .wrapper .image-wrapper .contact-us-img {
    width: 60%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .contact-main-container .outer-layer .main-section .contact-information .image-wrapper {
    margin-top: 15rem;
  }
  .contact-main-container .outer-layer .main-section .contact-information .image-wrapper .envelope-img {
    width: 100%;
    height: 100%;
  }
  .contact-main-container .outer-layer .main-section .contact-form .btn-wrapper {
    gap: 60%;
  }
}
@media (min-width: 2560px) {
  .contact-main-container .outer-layer .main-section .contact-form .wrapper button {
    width: 25rem;
    height: 10rem;
  }
}/*# sourceMappingURL=contact.css.map */