<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link rel="stylesheet" href="../../src/css/globals.css" />
    <title>Uptech Incorporated Limited</title>
  </head>

  <body>
    <header class="pt-4 px-6 flex flex-row items-center justify-between">
      <div class="w-20 h-20">
        <img
          class="w-full h-full"
          src="../../assets/uptech-logo.svg"
          alt="uptech logo"
        />
      </div>

      <nav class="hidden md:block">
        <ul class="flex flex-row gap-4">
          <li><a href="#">Home</a></li>
          <li><a href="#">Objectives</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    


    <div class="flex flex-col items-center text-center">

      <div class="w-full relative text-center mt-5 lg:mt-20">
        <h1 class="hidden lg:block -mt-20 md:text-8xl font-extrabold">UPTECH</h1>
  
        <div class="w-full h-1/2 md:hidden">
          <img
            class="w-full h-full object-contain"
            src="../../assets/sbg.svg"
            alt="background image"
          />
        </div>
  
        <div class="hidden md:block w-full h-1/2">
          <img
            class="w-full h-full object-contain"
            src="../../assets/sbgb.svg"
            alt="background image"
          />
        </div>
  
        <!-- Mobile Heading -->
        <div class="pb-20 flex flex-col justify-between h-full absolute md:hidden top-0 left-1/2 transform -translate-x-1/2 z-10">
          <h1 class="text-5xl md:text-8xl font-extrabold">SERVICES</h1>
          <h2 class="text-2xl font-bold">
            Unlock unparalleled expertise and transform your vision into reality with our comprehensive, client-focused solutions.
          </h2>
  
        </div>
  
        <!-- PC/Tablet heading -->
        <div class="hidden md:flex w-8/12 ml-10 flex-col gap-3 text-left absolute top-0 ">
          <h1 class="text-5xl md:text-6xl font-extrabold">SERVICES</h1>
          <p class="text-xl font-bold">
            Unlock unparalleled expertise and transform your vision into reality with our comprehensive, client-focused solutions.
          </p>
  
        </div>
  
      </div>
      <!-- <section class="flex flex-col text-center relative h-screen mb-20">
        <h1 class="mb-10 font-bold mt-20 text-3xl">Services</h1>
        <img
          class="absolute inset-0 w-full h-full object-cover md:hidden"
          src="../../assets/sbg.svg"
          alt="uptech logo"
        />
        <img
          class="absolute i top-0 left-0 w-screen h-full object-cover hidden md:block"
          src="../../assets/sbgb.svg"
          alt="uptech logo"
        />

        <div
          class="relative z-10 flex flex-col items-center justify-center h-full"
        >
          <p class="text-lg font-bold w-3/4 mt-60 mb-10">
            Unlock unparalleled expertise and transform your vision into reality
            with our comprehensive, client-focused solutions.
          </p>
        </div>
      </section> -->

      <main class="mt-20 mx-4 mb-20 text-lg">
        <p class="mb-20 lg:text-2xl lg:w-3/5 lg:mx-auto">
          Transform your business with our innovative solutions and expert
          services, tailored to propel your company towards success.
        </p>
        <div class="flex flex-col lg:flex-row lg:gap-20 items-center">
          <div class="flex flex-col items-center mb-10 lg:w-1/3">
            <img class="w-60 h-60" src="../../assets/S1.svg" alt="service1" />

            <p class="font-extrabold mb-4">
              Administrative <br />
              services
            </p>
            <p class="mb-2 lg:w-3/5">
              Boost productivity with an administrator who keeps everything
              organized and on track.
            </p>
            <ul class="list-disc list-inside">
              <li>PowerPoint presentation</li>
              <li>Business planning</li>
              <li>Proofreading</li>
              <li>Advertisement reading</li>
            </ul>
          </div>
          <div class="flex flex-col items-center mb-10 lg:w-1/3">
            <img class="w-60 h-60" src="../../assets/S2.svg" alt="service2" />

            <p class="font-extrabold mb-4">
              Marketing <br />
              services
            </p>
            <p class="mb-2 md:w-3/5">
              Drive growth with a marketer who transforms insights into
              impactful strategies
            </p>
            <ul class="list-disc list-inside">
              <li>Social Media</li>
              <li>Event planning and marketing</li>
              <li>Marketing planning</li>
              <li>Brand Marketing</li>
            </ul>
          </div>
          <div class="flex flex-col items-center mb-10 lg:w-1/3">
            <img class="w-60 h-60" src="../../assets/S3.svg" alt="service3" />

            <p class="font-extrabold mb-4">
              Development<br />
              services
            </p>
            <p class="mb-2 md:w-3/5">
              Unlock innovation and efficiency with a tech developer who turns
              ideas into cutting-edge solutions.
            </p>
            <ul class="list-disc list-inside">
              <li>Web development and deployment</li>
              <li>Mobile app development and deployment</li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col items-center mb-10">
          <img class="w-60 h-60" src="../../assets/S4.svg" alt="service4" />

          <p class="font-extrabold mb-4">
            Graphic <br />
            services
          </p>
          <p class="mb-2 md:w-1/5">
            Hiring a graphic designer can enhance your brand&apos;s visual
            identity and effectiveness, leading to better engagement and
            success.
          </p>
          <ul class="list-disc list-inside">
            <li>UI/UX Designing.</li>
            <li>Company Branding.</li>
            <li>Company Branding.</li>
          </ul>
        </div>
      </main>
    </div>


  </body>
</html>
