.services-main-container {
    font-family: 'THICCCBOI';




    .outer-layer {
        padding: 0.99rem 0.63rem;
        margin: 1rem 1rem 4rem 1rem;
        min-width: 18rem;
        border-radius: 2.75rem;
        background: rgba(239, 243, 243, 0.7);
        position: relative;
        box-sizing: border-box;
        overflow-x: wrap;


        .top-container {
            min-width: 17rem;
            height: auto;
            display: flex;
            flex-direction: column;
            border-radius: 2.75rem;
            background: #FFF;
            position: relative;
            text-align: center;
            overflow: hidden;
            margin-bottom: 2rem;

            h1 {
                color: #FFF;
                background: rgba(82, 159, 202, 1);
                border-radius: 2rem;
                padding: 1rem;
                margin: 0.4rem;
            }

            p {
                font-weight: 600;
            }

            .wrapper .serviceTop{
                height: 10rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

        }

        .main-container {
            min-width: 17rem;
            height: auto;
            display: flex;
            flex-direction: column;
            border-radius: 2.75rem;
            background: #FFF;
            position: relative;
            align-items: center;
            text-align: center;
            margin-bottom: 1rem;
            padding-bottom: 1rem;

            p {
                color: #565555;
                margin: 1rem 0.5rem;
                width: 70%;
            }

            .service-container {
                h2 {
                    color: rgba(3, 160, 194, 1);
                    font-size: 1rem;
                    margin-bottom: 4rem;
                }

                p {
                    color: #FFF;
                }

                .blue-box {
                    position: relative;
                    min-width: 15rem;
                    background: rgba(75, 216, 236, 1);
                    word-wrap: break-word;
                    margin: 2rem;
                    color: #FFF;
                    border-radius: 2rem;
                    text-align: center;
                    padding-top: 4rem;
                    padding-bottom: 1rem;

                    .service-img {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 100%;
                        height: 8rem;
                        transform: translate(-50%, -50%);

                        .ser-img {
                            object-fit: contain;
                            width: auto;
                            height: 100%;
                            z-index: 2;
                        }
                    }

                    p{
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    li {
                        text-align: left;
                    }

                }


            }
        }
    }

    @media (min-width: 1024px) {


        .outer-layer {


            .top-container {
                .wrapper {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                }

                h1 {
                    text-align: center;
                    width: 50%;
                    margin-left: 14rem;
                }

                p {
                    font-size: xx-large;
                    margin-left: 3.5rem;

                }

                .serviceTop {
                    margin-right: 30%;
                    height: 25rem;
                }
                
            }

            .main-container {
                p {
                    width: 50%;
                    font-size: x-large;
                    color: #565555;
                    font-weight: 600;
                }

                .service-container {
                    width: 80%;

                    .blue-box {

                        position: relative;
                        width: 80%;
                        left: 10%;
                        height: 30rem;
                        margin: 2rem;
                        color: #FFF;
                        border-radius: 2rem;
                        text-align: center;
                        padding: 1rem 0rem 2rem 1rem;

                        .wrapper {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                        }

                        .join {
                            width: 60%;
                        }

                        h2 {
                            color: #FFF;
                            font-size: 2.5rem;
                            margin-bottom: 1rem;
                        }

                        p {
                            width: 90%;
                            font-size: 1.5rem;
                            font-weight: 500;
                        }


                        .servicePc-img {
                            width: 21rem;
                            height: 17rem;



                            .ser-img {
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                z-index: 2;
                            }

                        }

                        li {
                            font-size: 1.3rem;
                            margin-bottom: 1rem;
                        }

                    }
                }

            }
        }
    }

    @media (min-width: 1920px) {


        .outer-layer {


            .top-container {

                h1 {
                    font-size: 3rem;
                    width: 50%;
                    margin-left: 30rem;
                }

                p {
                    font-size: 2.5rem;
                    margin-left: 11rem;

                }

                .serviceTop {
                    margin-right: 35%;
                    height: 34rem;
                    width: 36rem;
                }

            }

            .main-container {
                p {
                    font-size: 2rem;

                }

                .service-container {
                    width: 80%;

                    .blue-box {




                        join {
                            width: 50%;
                        }


                        p {

                            font-size: 2rem;

                        }


                        .servicePc-img {
                            width: 25rem;
                            height: 24rem;




                        }

                        li {
                            font-size: 1.6rem;

                        }

                    }
                }

            }
        }
    }
}