.services-main-container {
  font-family: "THICCCBOI";
}
.services-main-container .outer-layer {
  padding: 0.99rem 0.63rem;
  margin: 1rem 1rem 4rem 1rem;
  min-width: 18rem;
  border-radius: 2.75rem;
  background: rgba(239, 243, 243, 0.7);
  position: relative;
  box-sizing: border-box;
  overflow-x: wrap;
}
.services-main-container .outer-layer .top-container {
  min-width: 17rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 2.75rem;
  background: #FFF;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;
}
.services-main-container .outer-layer .top-container h1 {
  color: #FFF;
  background: rgb(82, 159, 202);
  border-radius: 2rem;
  padding: 1rem;
  margin: 0.4rem;
}
.services-main-container .outer-layer .top-container p {
  font-weight: 600;
}
.services-main-container .outer-layer .main-container {
  min-width: 17rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 2.75rem;
  background: #FFF;
  position: relative;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.services-main-container .outer-layer .main-container p {
  color: #565555;
  margin: 1rem 0.5rem;
  width: 70%;
}
.services-main-container .outer-layer .main-container .service-container h2 {
  color: rgb(3, 160, 194);
  font-size: 1rem;
  margin-bottom: 4rem;
}
.services-main-container .outer-layer .main-container .service-container p {
  color: #FFF;
}
.services-main-container .outer-layer .main-container .service-container .blue-box {
  position: relative;
  min-width: 15rem;
  background: rgb(75, 216, 236);
  word-wrap: break-word;
  margin: 2rem;
  color: #FFF;
  border-radius: 2rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.services-main-container .outer-layer .main-container .service-container .blue-box .service-img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 8rem;
  transform: translate(-50%, -50%);
}
.services-main-container .outer-layer .main-container .service-container .blue-box .service-img .ser-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  height: 100%;
  z-index: 2;
}
.services-main-container .outer-layer .main-container .service-container .blue-box li {
  text-align: left;
}
@media (min-width: 1024px) {
  .services-main-container .outer-layer .top-container .wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .services-main-container .outer-layer .top-container h1 {
    text-align: center;
    width: 50%;
    margin-left: 14rem;
  }
  .services-main-container .outer-layer .top-container p {
    font-size: xx-large;
    margin-left: 3.5rem;
  }
  .services-main-container .outer-layer .top-container .serviceTop {
    margin-right: 30%;
    height: 18rem;
    width: 20rem;
  }
  .services-main-container .outer-layer .top-container .topImg {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .services-main-container .outer-layer .main-container p {
    width: 50%;
    font-size: x-large;
    color: #565555;
    font-weight: 600;
  }
  .services-main-container .outer-layer .main-container .service-container {
    width: 80%;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box {
    position: relative;
    width: 80%;
    left: 10%;
    height: 30rem;
    margin: 2rem;
    color: #FFF;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 0rem 2rem 1rem;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box .wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box .join {
    width: 60%;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box h2 {
    color: #FFF;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box p {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box .servicePc-img {
    width: 21rem;
    height: 17rem;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box .servicePc-img .ser-img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box li {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1920px) {
  .services-main-container .outer-layer .top-container h1 {
    font-size: 3rem;
    width: 50%;
    margin-left: 30rem;
  }
  .services-main-container .outer-layer .top-container p {
    font-size: 2.5rem;
    margin-left: 11rem;
  }
  .services-main-container .outer-layer .top-container .serviceTop {
    margin-right: 35%;
    height: 34rem;
    width: 36rem;
  }
  .services-main-container .outer-layer .main-container p {
    font-size: 2rem;
  }
  .services-main-container .outer-layer .main-container .service-container {
    width: 80%;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box join {
    width: 50%;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box p {
    font-size: 2rem;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box .servicePc-img {
    width: 25rem;
    height: 24rem;
  }
  .services-main-container .outer-layer .main-container .service-container .blue-box li {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=service.css.map */