.custom-bg {
    background-image: url('../../assets/contactBackground.svg'); /* Path to your SVG file */
    background-repeat: no-repeat;
    background-size: cover; /* Adjust as needed */
    background-position: center;
}

@media(min-width: 768px){
    .custom-bg {
        background-image: url('../../assets/contactTab.svg'); /* Path to your SVG file */
    }
}

@media(min-width: 1024px){
.custom-bg {
    background-image: url('../../assets/contactPc.svg'); /* Path to your SVG file */
}
}