@font-face {
  font-family: "ThiccboiRegular";
  src: url("../../assets/fonts/thicccboi/THICCCBOI-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ThiccboiBold";
  src: url("../../assets/fonts/thicccboi/THICCCBOI-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SavedByZero";
  src: url("../../assets/fonts/saved_by_zero/SavedByZero.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
body{
  overflow-x: hidden;
}
h1 {
  font-family: "SavedByZero", sans-serif;
}

h2, h3, a {
  font-family: "ThiccboiBold", sans-serif;
}

h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}

p {
  font-family: "ThiccboiRegular", sans-serif;
}
a{
  font-weight: 900;
}

.bg-blueTheme{
  background-color: #448CFF;
}

.blueText-light{
  color: #62a3ff;
}

.blueText-dark{
  color: #448CFF;
}