@font-face {
    font-family: "ThiccboiRegular";
    src: url("../../assets/fonts/thicccboi/THICCCBOI-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ThiccboiBold";
    src: url("../../assets/fonts/thicccboi/THICCCBOI-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  .custom-bg {
    background-image: url('../../assets/objectivesBackground.svg'); /* Path to your SVG file */
    background-repeat: no-repeat;
    background-size: cover; /* Adjust as needed */
    background-position: center;
}


@media(min-width: 768px){
.custom-bg {
    background-image: url('../../assets/objectivesPC.svg'); /* Path to your SVG file */
}
}