.header, .objectives-main-container .outer-layer .objectives-first-container .objectives-section .header{
    margin: 1.84rem 1.25rem 0 1.25rem;
    min-width: 15.375rem;
    display: flex;
    align-items: center;
    position: relative;
    
    .logo-wrapper{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }

    /* Hide the regular navbar on small screens */
    .navbar {
        display: none;
        .nav-items .nav-links a {
            color: black;
            text-decoration: none;
            cursor: pointer;
            transition: color 0s, font-size 1.3s;
        
            &:hover {
                color: #6CFCEE;
                font-size: 1.3rem;
            }
        }
    }

    
    .dropdown{
        display: none;
    }

    .show-dropdown{
        background-color: #6CFCEE;
        border-radius: 1rem;
        position: absolute;
        margin-top: 20rem;
        margin-left: 1.5rem;
        z-index: 3;
        height: auto;
        width: 15rem;
        display: block;
        .dropdown-menu{
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-right: 1rem;

            .nav-links{
                background-color: white;
                list-style-type: none;
                font-size: 1.2rem;
                margin-bottom: .8rem;
                padding: .5rem;
                border-radius: 1rem;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: 900;
                    font-family: Inter;
                }
            }
        }
    }

    .nav-btn {

        cursor: pointer;
        background: transparent;
        border: none;
        margin-left:30%;
        img{width: 2rem;}
    }

    @media(min-width: 360px){
        .show-dropdown{
        margin-left: 4rem;
        }
    }

    @media(min-width: 375px){
        .show-dropdown{
        margin-left: 3rem;
        }
    }

    @media(min-width: 412px){
        .show-dropdown{
        margin-left: 6rem;
        }
    }

    @media(min-width: 425px){
        .show-dropdown{
            margin-left: 35%;
            margin-top: 22rem;
        }
    }


    @media(min-width: 768px){
        .logo-wrapper img{width: 70%;max-width: unset;}

        .nav-btn{display: none;}
        .navbar{
            width: 100%;
            // padding-left: 1rem;
            display: block;
            .nav-items{
                display: flex;
                justify-content: right;
                gap: 1rem;
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                list-style: none;
                margin: 0;
                padding: 0;
            }

        }
    }

    @media(min-width: 1024px){.navbar .nav-items{font-size: 1.2rem;}}
}