.header, .objectives-main-container .outer-layer .objectives-first-container .objectives-section .header{
    margin: 1.84rem 1.25rem 0 1.25rem;
    min-width: 15.375rem;
    display: flex;
    align-items: center;
    position: relative;
    
    .logo-wrapper{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }

    /* Hide the regular navbar on small screens */
    .navbar {
        display: none;
        .nav-items .nav-links a {
            color: black;
            text-decoration: none;
            cursor: pointer;
            transition: color 0s, font-size 1.3s;
        
            &:hover {
                color: #6CFCEE;
                font-size: 1.3rem;
            }
        }
    }

    // /* Hide the dropdown by default */
    // .dropdown {
    //     // display: none;
    //     transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Transition effect */
    //     position: absolute;
    //     top: 10%; /* Adjust this based on your header height */
    //     right: 1rem;
    //     width: 70%;
    //     z-index: 3;
    //     // border: solid black 2px;
    //     background-color: #6CFCEE;
    //     border-radius: 2.75rem;
    //     height: 80%;
    //     overflow: hidden;

    //     .dropdown-menu {
    //         display: flex;
    //         flex-direction: column;
    //         list-style: none;
    //         width: auto;


    //         .top-line {
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: space-between;

    //             .nav-head {
    //                 color: #fff;
    //                 margin-left: 0.5rem;
    //             }

    //             .nav-close-btn {
    //                 max-width: 1.5rem;
    //                 max-height: 1.5rem; 
    //                 background: transparent;
    //                 border: none;
    //             }
    //         }

    //         .nav-links, .nav-links a {
    //             color: black;
    //             text-decoration: none;
    //             cursor: pointer;
    //             background-color: white;
    //             border-radius: 1.5rem;
    //             width: auto;
    //             transition: color 0s, font-size 1.3s;
    //             // border: solid black 2px;



    //             &:hover {
    //                 background-color: #6CFCEE;
    //                 font-size: 1.3rem;
    //                 color: #fff;
    //             }
    //         }
    //     }
    // }

    //     /* Styles for when the dropdown is visible */
    // .show-dropdown {
    //     display: block;
    //     transition: opacity 0.5s ease-in-out, visibility 0s 0s; /* No delay for showing */


    //     /* Styles for the dropdown menu items */
    //     .dropdown-menu {
    //         list-style: none;
    //         margin: 0;
    //         padding: 0;
    //     }

    //     /* Styles for each link in the dropdown */
    //     .nav-links, .nav-links a {
    //         background-color: white; /* White background for each link */
    //         color: black; /* Text color */
    //         text-decoration: none;
    //         padding: 0.5rem 1rem; /* Padding inside each link */
    //         margin: 0.5rem 0; /* Margin between links */
    //         border-radius: 1.5rem; /* Rounded corners for each link */
    //         display: block; /* Make the link fill its container */
    //         text-align: center; /* Center the text */
    //         font-size: 1rem; 
    //         transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    //     }

    //     /* Hover effect for links */
    //     .nav-links:hover, .nav-links a:hover {
    //         background-color: #6CFCEE; /* Cyan background on hover */
    //         color: white; /* White text on hover */
    //     }
    // }
    
    .dropdown{
        display: none;
    }

    .show-dropdown{
        background-color: #6CFCEE;
        border-radius: 1rem;
        position: absolute;
        margin-top: 17rem;
        margin-left: 1rem;
        z-index: 3;
        height: 15rem;
        width: 15rem;
        display: block;
        .dropdown-menu{
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-right: 1rem;

            .nav-links{
                background-color: white;
                list-style-type: none;
                font-size: 1.2rem;
                margin-bottom: .8rem;
                padding: .5rem;
                border-radius: 1rem;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: 900;
                    font-family: Inter;
                }
            }
        }
    }

    .nav-btn {

        cursor: pointer;
        background: transparent;
        border: none;
        margin-left:30%;
        img{width: 2rem;}
    }

    @media(min-width: 360px){
        .show-dropdown{
        margin-left: 4rem;
        }
    }

    @media(min-width: 375px){
        .show-dropdown{
        margin-left: 3rem;
        }
    }

    @media(min-width: 412px){
        .show-dropdown{
        margin-left: 6rem;
        }
    }

    @media(min-width: 425px){
        .show-dropdown{
        margin-left: 6rem;
        }
    }


    @media(min-width: 768px){
        .logo-wrapper img{width: 70%;max-width: unset;}

        .nav-btn{display: none;}
        .navbar{
            width: 100%;
            // padding-left: 1rem;
            display: block;
            .nav-items{
                display: flex;
                justify-content: right;
                gap: 1rem;
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                list-style: none;
                margin: 0;
                padding: 0;
            }

        }
    }

    @media(min-width: 1024px){.navbar .nav-items{font-size: 1.2rem;}}
}